
<div class="container">
    <h1>Recent Posts</h1>
    <hr/>
    <div class="row">
        <form role="form">
            <div class="col-md-7">
                <input ng-model="postBody" class="form-control"/>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" ng-click="addPost()" >Add Post</button>
            </div>
        </form>
    </div>

    <hr/>

    <div class="row">
        <ul class="list-group">
            <li class="list-group-item"  ng-repeat="post in posts">
                <strong>@{{post.username}}</strong>
                <span>{{post.body}}</span>
            </li>
        </ul>
    </div>
</div>